@font-face {
    font-family: "Raleway";
    src: url("assets/fonts/Raleway-VariableFont_wght.ttf") format("ttf")
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-variation-settings: 'wght' 500;
    font-weight: 500;
    font-size: 12px;
}

body {
    background-color: #E9E9E9;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-variation-settings: 'wght' 100;
    font-weight: 100;
}

h1 {
    font-size: 26px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 21px;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
}

main>section {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    height: 100vh;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

a {
    color: red;
    text-decoration: none;
    font-weight: none;
    cursor: pointer;
}

nav>ul>li {
    list-style: none;
    margin: 10px;
    padding: 6px 12px;
    display: inline-block;
}

nav>ul {
    margin: 0;
    padding: 0;
}

nav a {
    text-transform: uppercase;
}